!!! 5
html(lang='en', xmlns:og='http://ogp.me/ns#', xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
   
  body(style="font-family:helvetica;margin:0px;")

    div(style="background-color:#d4d4d4;width:706px")
      div(style="width:640px;margin-left:30px;margin-right:30px;background-color:white;border-style:solid;border-top-width:0px;border-color:#b9b9b9")
        div 
          table(style="background-color:#712f6d;width:100%;")
            tbody
              tr
                td(style="width:180px;padding-left:12px;padding-top:5px;")
                  img(src="http://www.happyscan.me/img/logo_happyscan.jpg", alt="HappyScan")
                td
                  div(style="height:35px;padding-top:2px;padding-left:10px;")
                    span(style="color:white;font-size:25px") Ласкаво просимо в HappyScan
               
        div(style='margin-top:25px;margin-left:20px;margin-right:20px;font-size:14px;color:#444444;line-height:1.5;')
          div Привіт, #{user_name}
          br
          div Дякуємо, що скористалися <a href="http://www.happyscan.me" target="blank" style="color:#599bb1">HappyScan!</a>
          div Улюблені заклади Вашого міста приготували для Вас массу сюрпризів! Скануйте акційні QR-коди і вигравайте приємні несподіванки і бонуси до Ваших покупок!
          br
          div Команда HappyScan.me
          div Долучайтеся до нас в <a href="https://www.facebook.com/pages/HappyScan/233148490185987" target="blank" style="color:#599bb1">Facebook</a>

        div(style="height:20px;")
      div(style='font-size: 10px;color: #888888;margin-top: 10px;margin-left: 40px;margin-right: 30px;margin-bottom: 10px;') якщо ви не бажаєте отримувати листи від HappyScan, ви можете 
          a(href='*|UNSUB:http://www.happyscan.me|*', style='color: #888888') відписатись