*.pyc
static/
.idea
*.iml
node_modules/
node-app/.git/
*~
.sass-cache

mobile/android/clubbook_android_app/out/
mobile/android/clubbook_android_app/bin/
mobile/android/clubbook_android_app/gen/
mobile/android/facebook/build/
.gradle


*.DS_Store
