!!! 5
html(lang='uk')
//
     Appland Landing Page 1.1.8 - Designed by UnreaLSnake - Visit the website: UnreaLSnake.ru 
head
  meta(charset='utf-8')
  title Clubbook 
  //
     Enter Title
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
  meta(name='robots', content='index, follow')
  meta(name='description', content='')
  //
     Enter Description
  meta(name='keywords', content='')
  //
     Enter Keywords
  meta(name='author', content='')
  //
     Enter Author
  meta(name='google-site-verification', content='')
  //
     Google Verification
  meta(name='yandex-verification', content='')
  //
     Yandex Verification
  meta(name='msvalidate.01', content='')

  style(type='text/css')
    a.button-l {
       display: inline-block;
       margin: 0 40px 0 0;
       font-weight: 700;
       color: #FFF;
       text-align: center;
       text-transform: uppercase;
       background-repeat: no-repeat;
       background-color: #b8b8b8;
       border: 1px solid #FFF;
       border-radius: 5px;
    }

    .button-l {
       width: 164px;
       height: 56px;
    }

    .button-l:hover {
       color: #1f1f1f;
       background-color: #b8b8b8;
       border: 1px solid #b8b8b8;
    }

    /*--- Button Large ---*/

    .button-l--text {
       line-height: 54px;
       font-size: 16px;
       vertical-align: top;
    }

    .button-l--app-store {
       background-image: url(img/bg-app-store.png);
       background-position: center center;
    }

    .button-l--marketplace {
       background-image: url(img/bg-marketplace.png);
       background-position: center center;
    }

    .button-l--google-play {
       background-image: url(img/bg-google-play.png);
       background-position: center center;
    }

  // link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic')
  link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic&subset=latin,cyrillic,cyrillic-ext,latin-ext')
  //
     Google Fonts
  link(rel='icon', href='/images/favicon.ico')
 
 body

  table(border="0" align="center" cellpadding="0" cellspacing="0")
    tr
      td(height="300" align="center")
        img(src="img/clubbook.jpg" width="431" height="219")
    tr
      td(align="center")
        a.button-l.button-l--app-store(href='#')
              // Button - Google play
        a.button-l.button-l--google-play(href='#')
    
