!!! 5
head
  meta(http-equiv='CONTENT-TYPE', content='text/html; charset=utf-8')
    title
    meta(name='GENERATOR', content='LibreOffice 4.0.5.2 (Linux)')
    meta(name='CREATED', content='20140916;16371714')
    meta(name='CHANGED', content='20140916;16432185')
    style(type='text/css')
  body(lang='fr-FR', dir='LTR')
    p(align='LEFT', style='margin-bottom: 0in; border: none; padding: 0in; line-height: 0.17in;')
      strong
        span(style='font-variant: normal;')
          font(color='#333333')
            font(face='arial, helvetica, clean, sans-serif')
              font(size='2', style='font-size: 9pt;')
                span(style='font-style: normal;')
                  b
                    | Effective
                    | on 2014-07-22
    p(align='LEFT', style='margin-bottom: 0in; border: none; padding: 0in; line-height: 0.17in;')
      span(style='font-variant: normal;')
        font(color='#333333')
          font(face='arial, helvetica, clean, sans-serif')
            font(size='2', style='font-size: 9pt;')
              span(style='font-style: normal;')
                span(style='font-weight: normal;')
                  | This
                  | privacy statement describes how 
      strong
        span(style='font-variant: normal;')
          font(color='#333333')
            font(face='arial, helvetica, clean, sans-serif')
              font(size='2', style='font-size: 9pt;')
                span(style='font-style: normal;')
                  b Clubbook
      span(style='font-variant: normal;')
        font(color='#333333')
          font(face='arial, helvetica, clean, sans-serif')
            font(size='2', style='font-size: 9pt;')
              span(style='font-style: normal;')
                span(style='font-weight: normal;')
                  | collects
                  | and uses the personal information you provide. It also describes the
                  | choices available to you regarding our use of your personal
                  | information and how you can access and update this information.
    p(style='margin-bottom: 0in;')
      br
    p(align='LEFT', style='margin-bottom: 0.2in; border: none; padding: 0in; font-variant: normal; font-style: normal; line-height: 0.17in;')
      font(color='#000000')
        font(face='arial, helvetica, clean, sans-serif')
          font(size='3')
            b
              | Location
              | Services
    p(align='LEFT', style='line-height: 0.17in;')
      strong
        span(style='font-variant: normal;')
          font(color='#333333')
            font(face='arial, helvetica, clean, sans-serif')
              font(size='2', style='font-size: 9pt;')
                span(style='font-style: normal;')
                  b
                    | Some
                    | services on this site make use of location-based data. If you allow
                    | these services, we will collect information about the Wi-fi routers
                    | closest to you and the cell IDs of the towers closest to you.
                    br
                    br
                    | We
                    | use this information to provide the requested location-based service,
                    | not to identify you. You will be asked for your permission each time
                    | a location-based service is requested.
    ul
      li
        p(align='LEFT', style='margin-bottom: 0in; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 0.17in;')
          font(color='#333333')
            font(face='arial, helvetica, clean, sans-serif')
              font(size='2', style='font-size: 9pt;')
                | Provide
                | you content based upon your location.
        li
          p(align='LEFT', style='margin-bottom: 0in; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 0.17in;')
            font(color='#333333')
              font(face='arial, helvetica, clean, sans-serif')
                font(size='2', style='font-size: 9pt;')
                  | Check
                  | you in to a store or other location to enable you to earn loyalty
                  | rewards or let others know where you are.
          li
            p(align='LEFT', style='margin-bottom: 0in; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 0.17in;')
              font(color='#333333')
                font(face='arial, helvetica, clean, sans-serif')
                  font(size='2', style='font-size: 9pt;')
                    | Provide
                    | you local search results.
            li
              p(align='LEFT', style='margin-bottom: 0in; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 0.17in;')
                font(color='#333333')
                  font(face='arial, helvetica, clean, sans-serif')
                    font(size='2', style='font-size: 9pt;')
                      | Provide
                      | you special local offers.
              li
                p(align='LEFT', style='margin-bottom: 0in; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 0.17in;')
                  font(color='#333333')
                    font(face='arial, helvetica, clean, sans-serif')
                      font(size='2', style='font-size: 9pt;')
                        | Map
                        | routes and provide directions to locations that you specify.
                li
                  p(align='LEFT', style='margin-bottom: 0in; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 0.17in;')
                    font(color='#333333')
                      font(face='arial, helvetica, clean, sans-serif')
                        font(size='2', style='font-size: 9pt;')
                          | Enable
                          | you to share your location with friends.
    p(style='margin-bottom: 0in;')
      br
    p(align='LEFT', style='margin-bottom: 0.2in; border: none; padding: 0in; font-variant: normal; font-style: normal; line-height: 0.17in;')
      font(color='#000000')
        font(face='arial, helvetica, clean, sans-serif')
          font(size='3')
            b
              | Collection
              | and Use
    p(align='LEFT', style='line-height: 0.17in;')
      strong
        span(style='font-variant: normal;')
          font(color='#333333')
            font(face='arial, helvetica, clean, sans-serif')
              font(size='2', style='font-size: 9pt;')
                span(style='font-style: normal;')
                  b
                    | We
                    | collect the following personal information from you:
    ul
      li
        p(align='LEFT', style='margin-bottom: 0in; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 0.17in;')
          font(color='#333333')
            font(face='arial, helvetica, clean, sans-serif')
              font(size='2', style='font-size: 9pt;')
                | Contact
                | Information such as name, email address, mailing address, phone
                | number
        li
          p(align='LEFT', style='margin-bottom: 0in; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 0.17in;')
            font(color='#333333')
              font(face='arial, helvetica, clean, sans-serif')
                font(size='2', style='font-size: 9pt;')
                  | Unique
                  | Identifiers such as user name, account number, password
          li
            p(align='LEFT', style='margin-bottom: 0in; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 0.17in;')
              font(color='#333333')
                font(face='arial, helvetica, clean, sans-serif')
                  font(size='2', style='font-size: 9pt;')
                    | Preferences
                    | Information you provide such as product or content interests, or
                    | communication or marketing preferences
            li
              p(align='LEFT', style='margin-bottom: 0in; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 0.17in;')
                font(color='#333333')
                  font(face='arial, helvetica, clean, sans-serif')
                    font(size='2', style='font-size: 9pt;')
                      | Usage
                      | activity about how you interact with us such as purchase history,
                      | what content you viewed, and which areas of our site you visited.
              li
                p(align='LEFT', style='margin-bottom: 0in; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 0.17in;')
                  font(color='#333333')
                    font(face='arial, helvetica, clean, sans-serif')
                      font(size='2', style='font-size: 9pt;')
                        | Device
                        | Information
    p(align='LEFT', style='margin-bottom: 0in; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 0.17in;')
      br
    p(align='LEFT', style='line-height: 0.17in;')
      strong
        span(style='font-variant: normal;')
          font(color='#333333')
            font(face='arial, helvetica, clean, sans-serif')
              font(size='2', style='font-size: 9pt;')
                span(style='font-style: normal;')
                  b
                    | We
                    | also collect the following information from you:
    ul
      li
        p(align='LEFT', style='margin-bottom: 0in; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 0.17in;')
          font(color='#333333')
            font(face='arial, helvetica, clean, sans-serif')
              font(size='2', style='font-size: 9pt;')
                | Demographic
                | information such as household income, age, education, gender,
                | interests, and zip code
        li
          p(align='LEFT', style='margin-bottom: 0in; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 0.17in;')
            font(color='#333333')
              font(face='arial, helvetica, clean, sans-serif')
                font(size='2', style='font-size: 9pt;')
                  | Information
                  | about your mobile device such as your mobile device id (similar to a
                  | website IP address), device type, and mobile service carrier.
    p(align='LEFT', style='margin-bottom: 0in; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 0.17in;')
      font(color='#333333')
        font(face='arial, helvetica, clean, sans-serif')
          font(size='2', style='font-size: 9pt;')
            | As
            | is true of most Web sites, we automatically gather information about
            | your computer such as your IP address, browser type, referring/exit
            | pages, and operating system.
    p(align='LEFT', style='margin-bottom: 0in; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 0.17in;')
      br
    p(align='LEFT', style='line-height: 0.17in;')
      strong
        span(style='font-variant: normal;')
          font(color='#333333')
            font(face='arial, helvetica, clean, sans-serif')
              font(size='2', style='font-size: 9pt;')
                span(style='font-style: normal;')
                  b
                    | We
                    | use this information to:
    ul
      li
        p(align='LEFT', style='margin-bottom: 0in; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 0.17in;')
          font(color='#333333')
            font(face='arial, helvetica, clean, sans-serif')
              font(size='2', style='font-size: 9pt;')
                | Fulfill
                | your order
        li
          p(align='LEFT', style='margin-bottom: 0in; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 0.17in;')
            font(color='#333333')
              font(face='arial, helvetica, clean, sans-serif')
                font(size='2', style='font-size: 9pt;')
                  | Send
                  | you an order confirmation
          li
            p(align='LEFT', style='margin-bottom: 0in; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 0.17in;')
              font(color='#333333')
                font(face='arial, helvetica, clean, sans-serif')
                  font(size='2', style='font-size: 9pt;')
                    | Assess
                    | your needs to determine suitable products or services
            li
              p(align='LEFT', style='margin-bottom: 0in; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 0.17in;')
                font(color='#333333')
                  font(face='arial, helvetica, clean, sans-serif')
                    font(size='2', style='font-size: 9pt;')
                      | Send
                      | you requested product or service information
              li
                p(align='LEFT', style='margin-bottom: 0in; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 0.17in;')
                  font(color='#333333')
                    font(face='arial, helvetica, clean, sans-serif')
                      font(size='2', style='font-size: 9pt;')
                        | Send
                        | product updates or warranty information
                li
                  p(align='LEFT', style='margin-bottom: 0in; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 0.17in;')
                    font(color='#333333')
                      font(face='arial, helvetica, clean, sans-serif')
                        font(size='2', style='font-size: 9pt;')
                          | Respond
                          | to customer service requests
                  li
                    p(align='LEFT', style='margin-bottom: 0in; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 0.17in;')
                      font(color='#333333')
                        font(face='arial, helvetica, clean, sans-serif')
                          font(size='2', style='font-size: 9pt;')
                            | Administer
                            | your account
                    li
                      p(align='LEFT', style='margin-bottom: 0in; border: none; padding: 0in; line-height: 0.17in;')
                        span(style='font-variant: normal;')
                          font(color='#333333')
                            font(face='arial, helvetica, clean, sans-serif')
                              font(size='2', style='font-size: 9pt;')
                                span(style='font-style: normal;')
                                  span(style='font-weight: normal;')
                                    | Send
                                    | you push notifications when you are using our app. If you do not
                                    | want these notifications, you can manage your preference either
                                    | through your device or app settings depending on your device type.
                                    | You can also contact us at
                        a(href='mailto:contact@clubbook.com')
                          span(style='font-variant: normal;')
                            font(color='#333333')
                              font(face='arial, helvetica, clean, sans-serif')
                                font(size='2', style='font-size: 9pt;')
                                  span(style='font-style: normal;')
                                    b contact@clubbook.com
                        span(style='font-variant: normal;')
                          font(color='#333333')
                            font(face='arial, helvetica, clean, sans-serif')
                              font(size='2', style='font-size: 9pt;')
                                span(style='font-style: normal;')
                                  span(style='font-weight: normal;') .
                      li
                        p(align='LEFT', style='margin-bottom: 0in; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 0.17in;')
                          font(color='#333333')
                            font(face='arial, helvetica, clean, sans-serif')
                              font(size='2', style='font-size: 9pt;')
                                | Improve
                                | our App and marketing efforts
                        li
                          p(align='LEFT', style='margin-bottom: 0in; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 0.17in;')
                            font(color='#333333')
                              font(face='arial, helvetica, clean, sans-serif')
                                font(size='2', style='font-size: 9pt;')
                                  | Conduct
                                  | research and analysis
                          li
                            p(align='LEFT', style='margin-bottom: 0in; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 0.17in;')
                              font(color='#333333')
                                font(face='arial, helvetica, clean, sans-serif')
                                  font(size='2', style='font-size: 9pt;')
                                    | Respond
                                    | to your questions and concerns
                            li
                              p(align='LEFT', style='margin-bottom: 0in; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 0.17in;')
                                font(color='#333333')
                                  font(face='arial, helvetica, clean, sans-serif')
                                    font(size='2', style='font-size: 9pt;')
                                      | Display
                                      | content based upon your interests
                              li
                                p(align='LEFT', style='margin-bottom: 0in; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 0.17in;')
    p(align='LEFT', style='line-height: 0.17in;')
      strong
        span(style='font-variant: normal;')
          font(color='#333333')
            font(face='arial, helvetica, clean, sans-serif')
              font(size='2', style='font-size: 9pt;')
                span(style='font-style: normal;')
                  b
                    | Social
                    | Networks
    p(align='LEFT', style='margin-bottom: 0in; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 0.17in;')
      font(color='#333333')
        font(face='arial, helvetica, clean, sans-serif')
          font(size='2', style='font-size: 9pt;')
            | We
            | enable you to create a profile, and share information such as
            | messages, photos, and videos with others within your network. We
            | cannot control the actions of others with whom you may choose to
            | share your pages and information. Also we cannot guarantee that the
            | content you post on our site will not be viewed by others outside
            | your network.
    p(align='LEFT', style='margin-bottom: 0in; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 0.17in;')
      br
    p(align='LEFT', style='line-height: 0.17in;')
      strong
        span(style='font-variant: normal;')
          font(color='#333333')
            font(face='arial, helvetica, clean, sans-serif')
              font(size='2', style='font-size: 9pt;')
                span(style='font-style: normal;')
                  b
                    | Information
                    | Obtained from Third Parties
    ul
      li
        p(align='LEFT', style='margin-bottom: 0in; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 0.17in;')
          font(color='#333333')
            font(face='arial, helvetica, clean, sans-serif')
              font(size='2', style='font-size: 9pt;')
                | If
                | you provide us personal information about others, or if others give
                | us your information, we will only use that information for the
                | specific reason for which it was provided to us.
    p(style='margin-bottom: 0in;')
      br
    p(align='LEFT', style='margin-bottom: 0.2in; border: none; padding: 0in; font-variant: normal; font-style: normal; line-height: 0.17in;')
      font(color='#000000')
        font(face='arial, helvetica, clean, sans-serif')
          font(size='3')
            b
              | Sharing
              | Your Information
    p(align='LEFT', style='margin-bottom: 0in; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 0.17in;')
      font(color='#333333')
        font(face='arial, helvetica, clean, sans-serif')
          font(size='2', style='font-size: 9pt;')
            | We
            | will share your information with third parties only in the ways that
            | are described in this privacy statement.
    p(align='LEFT', style='margin-bottom: 0in; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 0.17in;')
      font(color='#333333')
        font(face='arial, helvetica, clean, sans-serif')
          font(size='2', style='font-size: 9pt;')
            | We
            | may provide your personal information to companies that provide
            | services to help us with our business activities such as shipping
            | your order or offering customer service. These third parties are
            | authorized to use your personal information
            i
              | only as necessary
              | to provide
            | these services to us.
    p(align='LEFT', style='line-height: 0.17in;')
      strong
        span(style='font-variant: normal;')
          font(color='#333333')
            font(face='arial, helvetica, clean, sans-serif')
              font(size='2', style='font-size: 9pt;')
                span(style='font-style: normal;')
                  b
                    | We
                    | may disclose your personal information
    ul
      li
        p(align='LEFT', style='margin-bottom: 0in; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 0.17in;')
          font(color='#333333')
            font(face='arial, helvetica, clean, sans-serif')
              font(size='2', style='font-size: 9pt;')
                | As
                | required by law, such as to comply with a subpoena, or similar legal
                | process.
        li
          p(align='LEFT', style='margin-bottom: 0in; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 0.17in;')
            font(color='#333333')
              font(face='arial, helvetica, clean, sans-serif')
                font(size='2', style='font-size: 9pt;')
                  | When
                  | we believe in good faith that disclosure is necessary to protect our
                  | rights, protect your safety or the safety of others, investigate
                  | fraud, or respond to a government request.
          li
            p(align='LEFT', style='margin-bottom: 0in; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 0.17in;')
              font(color='#333333')
                font(face='arial, helvetica, clean, sans-serif')
                  font(size='2', style='font-size: 9pt;')
                    | If
                    | Clubbook is involved in a merger, acquisition, or sale of all or a
                    | portion of its assets, you will be notified via email and/or a
                    | prominent notice on our Web site of any change in ownership or uses
                    | of your personal information, as well as any choices you may have
                    | regarding your personal information.
            li
              p(align='LEFT', style='margin-bottom: 0in; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 0.17in;')
                font(color='#333333')
                  font(face='arial, helvetica, clean, sans-serif')
                    font(size='2', style='font-size: 9pt;')
                      | To
                      | any other third party with your prior consent to do so.
    p(align='LEFT', style='margin-bottom: 0in; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 0.17in;')
      br
    p(align='LEFT', style='line-height: 0.17in;')
      strong
        span(style='font-variant: normal;')
          font(color='#333333')
            font(face='arial, helvetica, clean, sans-serif')
              font(size='2', style='font-size: 9pt;')
                span(style='font-style: normal;')
                  b PayPal
    p(align='LEFT', style='margin-bottom: 0in; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 0.17in;')
      font(color='#333333')
        font(face='arial, helvetica, clean, sans-serif')
          font(size='2', style='font-size: 9pt;')
            | If
            | you choose to use PayPal to finalize and pay for your order, you will
            | provide your credit card number, directly to PayPal. PayPal's privacy
            | policy will apply to the information you provide on the PayPal Web
            | site.
    p(style='margin-bottom: 0in;')
      br
    p(align='LEFT', style='margin-bottom: 0.2in; border: none; padding: 0in; font-variant: normal; font-style: normal; line-height: 0.17in;')
      font(color='#000000')
        font(face='arial, helvetica, clean, sans-serif')
          font(size='3')
            b
              | Tracking
              | and Ads
    p(align='LEFT', style='margin-bottom: 0in; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 0.17in;')
      font(color='#333333')
        font(face='arial, helvetica, clean, sans-serif')
          font(size='2', style='font-size: 9pt;')
            | We
            | or a third party contracted by us may use technologies such as
            | cookies, Web beacons, or scripts to gather information about how you
            | and others interact with our Web site. For example, we will know how
            | many users access a specific areas or features within our site and
            | which links or ads they clicked on. We use this aggregated
            | information to understand and optimize how our site is used, improve
            | our marketing efforts, and provide content and features that are of
            | interest to you.
    p(style='margin-bottom: 0in;')
      br
    p(align='LEFT', style='margin-bottom: 0.2in; border: none; padding: 0in; font-variant: normal; font-style: normal; line-height: 0.17in;')
      font(color='#000000')
        font(face='arial, helvetica, clean, sans-serif')
          font(size='3')
            b Security
    p(align='LEFT', style='margin-bottom: 0in; border: none; padding: 0in; line-height: 0.17in;')
      span(style='font-variant: normal;')
        font(color='#333333')
          font(face='arial, helvetica, clean, sans-serif')
            font(size='2', style='font-size: 9pt;')
              span(style='font-style: normal;')
                span(style='font-weight: normal;')
                  | When
                  | we collect personal information directly from you, we follow
                  | generally accepted industry standards to protect the personal
                  | information submitted to us, both during transmission and once we
                  | receive it. No method of transmission over the Internet, or method of
                  | electronic storage, is 100% secure. Therefore, we cannot guarantee
                  | its absolute security. If you have any questions about security on
                  | our Web site, you can contact us at support
      a(href='mailto:contact@clubbook.com')
        span(style='font-variant: normal;')
          font(color='#8cc63f')
            span(style='text-decoration: none;')
              font(face='arial, helvetica, clean, sans-serif')
                font(size='2', style='font-size: 9pt;')
                  span(style='font-style: normal;')
                    span(style='font-weight: normal;') @clubbook.com
    p(align='LEFT', style='margin-bottom: 0in; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 0.17in;')
      font(color='#333333')
        font(face='arial, helvetica, clean, sans-serif')
          font(size='2', style='font-size: 9pt;')
            | In
            | order to make a purchase from us, you must use our third party
            | checkout options to finalize and pay for your order. Its privacy
            | statement and security practices will also apply to your information.
            | We encourage you to read that privacy statement before providing your
            | information.
    p(align='LEFT', style='margin-bottom: 0in; border: none; padding: 0in; line-height: 0.17in;')
      span(style='font-variant: normal;')
        font(color='#333333')
          font(face='arial, helvetica, clean, sans-serif')
            font(size='2', style='font-size: 9pt;')
              span(style='font-style: normal;')
                span(style='font-weight: normal;')
                  | We
                  | will retain your information for as long as your account is active or
                  | as needed to provide you services. If you wish to cancel your account
                  | or request that we no longer use your information to provide you
                  | services contact us at support
      a(href='mailto:contact@clubbook.com')
        span(style='font-variant: normal;')
          font(color='#8cc63f')
            span(style='text-decoration: none;')
              font(face='arial, helvetica, clean, sans-serif')
                font(size='2', style='font-size: 9pt;')
                  span(style='font-style: normal;')
                    span(style='font-weight: normal;') @clubbook.com
      span(style='font-variant: normal;')
        font(color='#333333')
          font(face='arial, helvetica, clean, sans-serif')
            font(size='2', style='font-size: 9pt;')
              span(style='font-style: normal;')
                span(style='font-weight: normal;')
                  | .
                  | We will retain and use your information as necessary to comply with
                  | our legal obligations, resolve disputes, and enforce our agreements.
    p(style='margin-bottom: 0in;')
      br
    p(align='LEFT', style='margin-bottom: 0.2in; border: none; padding: 0in; font-variant: normal; font-style: normal; line-height: 0.17in;')
      font(color='#000000')
        font(face='arial, helvetica, clean, sans-serif')
          font(size='3')
            b
              | Other
              | Information
    p(align='LEFT', style='margin-bottom: 0in; border: none; padding: 0in; line-height: 0.17in;')
      span(style='font-variant: normal;')
        font(color='#333333')
          font(face='arial, helvetica, clean, sans-serif')
            font(size='2', style='font-size: 9pt;')
              span(style='font-style: normal;')
                span(style='font-weight: normal;')
                  | Our
                  | App offers publicly accessible blogs or community forums. You should
                  | be aware that any information you provide in these areas may be read,
                  | collected, and used by others who access them. To request removal of
                  | your personal information from our blog or community forum, contact
                  | us at support
      a(href='mailto:contact@clubbook.com')
        span(style='font-variant: normal;')
          font(color='#8cc63f')
            span(style='text-decoration: none;')
              font(face='arial, helvetica, clean, sans-serif')
                font(size='2', style='font-size: 9pt;')
                  span(style='font-style: normal;')
                    span(style='font-weight: normal;') @clubbook.com
      span(style='font-variant: normal;')
        font(color='#333333')
          font(face='arial, helvetica, clean, sans-serif')
            font(size='2', style='font-size: 9pt;')
              span(style='font-style: normal;')
                span(style='font-weight: normal;')
                  | .
                  | In some cases, we may not be able to remove your personal
                  | information, in which case we will let you know if we are unable to
                  | do so.
    p(align='LEFT', style='line-height: 0.17in;')
      strong
        span(style='font-variant: normal;')
          font(color='#333333')
            font(face='arial, helvetica, clean, sans-serif')
              font(size='2', style='font-size: 9pt;')
                span(style='font-style: normal;')
                  b
                    | Correcting
                    | and Updating Your Personal Information
    p(align='LEFT', style='margin-bottom: 0in; border: none; padding: 0in; line-height: 0.17in;')
      span(style='font-variant: normal;')
        font(color='#333333')
          font(face='arial, helvetica, clean, sans-serif')
            font(size='2', style='font-size: 9pt;')
              span(style='font-style: normal;')
                span(style='font-weight: normal;')
                  | To
                  | review and update your personal information to ensure it is accurate,
                  | contact us at support
      a(href='mailto:contact@clubbook.com')
        span(style='font-variant: normal;')
          font(color='#8cc63f')
            span(style='text-decoration: none;')
              font(face='arial, helvetica, clean, sans-serif')
                font(size='2', style='font-size: 9pt;')
                  span(style='font-style: normal;')
                    span(style='font-weight: normal;') @clubbook.com
      span(style='font-variant: normal;')
        font(color='#333333')
          font(face='arial, helvetica, clean, sans-serif')
            font(size='2', style='font-size: 9pt;')
              span(style='font-style: normal;')
                span(style='font-weight: normal;') .
    p(align='LEFT', style='line-height: 0.17in;')
      strong
        span(style='font-variant: normal;')
          font(color='#333333')
            font(face='arial, helvetica, clean, sans-serif')
              font(size='2', style='font-size: 9pt;')
                span(style='font-style: normal;')
                  b
                    | Notification
                    | of Privacy Statement Changes
    p(align='LEFT', style='margin-bottom: 0in; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 0.17in;')
      font(color='#333333')
        font(face='arial, helvetica, clean, sans-serif')
          font(size='2', style='font-size: 9pt;')
            | We
            | may update this privacy statement to reflect changes to our
            | information practices. If we make any material changes we will notify
            | you by email (sent to the e-mail address specified in your account)
            | or by means of a notice on this Site prior to the change becoming
            | effective. We encourage you to periodically review this page for the
            | latest information on our privacy practices.
    p(style='margin-bottom: 0in;')
      br
    p(align='LEFT', style='margin-bottom: 0.2in; border: none; padding: 0in; font-variant: normal; font-style: normal; line-height: 0.17in;')
      font(color='#000000')
        font(face='arial, helvetica, clean, sans-serif')
          font(size='3')
            b Contact
    p(align='LEFT', style='margin-bottom: 0in; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 0.17in;')
      font(color='#333333')
        font(face='arial, helvetica, clean, sans-serif')
          font(size='2', style='font-size: 9pt;')
            | You
            | can contact us about this privacy statement by writing or email us at
            | the address below:
    p(align='LEFT', style='margin-bottom: 0in; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 0.17in;')
      font(color='#333333')
        font(face='arial, helvetica, clean, sans-serif')
          font(size='2', style='font-size: 9pt;') Clubbook
    p(align='LEFT', style='margin-bottom: 0in; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 0.17in;')
      font(color='#333333')
        font(face='arial, helvetica, clean, sans-serif')
          font(size='2', style='font-size: 9pt;')
            | Rombouthogerbeetsstraat
            | 1hs
    p(align='LEFT', style='margin-bottom: 0in; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 0.17in;')
      font(color='#333333')
        font(face='arial, helvetica, clean, sans-serif')
          font(size='2', style='font-size: 9pt;')
            | Amsterdam,
            | 1052VM
    p(align='LEFT', style='margin-bottom: 0in; border: none; padding: 0in; font-variant: normal; font-style: normal; font-weight: normal; line-height: 0.17in;')
      font(color='#333333')
        font(face='arial, helvetica, clean, sans-serif')
          font(size='2', style='font-size: 9pt;')
            | The
            | Netherlands
    p(align='LEFT', style='margin-bottom: 0in; border: none; padding: 0in; line-height: 0.17in;')
      span(style='font-variant: normal;')
        font(color='#333333')
          font(face='arial, helvetica, clean, sans-serif')
            font(size='2', style='font-size: 9pt;')
              span(style='font-style: normal;')
                span(style='font-weight: normal;') Email: support
      a(href='mailto:contact@clubbook.com')
        span(style='font-variant: normal;')
          font(color='#8cc63f')
            span(style='text-decoration: none;')
              font(face='arial, helvetica, clean, sans-serif')
                font(size='2', style='font-size: 9pt;')
                  span(style='font-style: normal;')
                    span(style='font-weight: normal;') @clubbook.com
    p(style='margin-bottom: 0in;')
      br
