!!! 5
head
  meta(http-equiv='CONTENT-TYPE', content='text/html; charset=utf-8')
    title
    meta(name='GENERATOR', content='LibreOffice 4.0.5.2 (Linux)')
    meta(name='CREATED', content='20141010;14290950')
    meta(name='CHANGED', content='20141010;14392799')
    style(type='text/css')
  body(lang='fr-FR', dir='LTR')
    h1.western
      font(size='3')
        | Clubbook Terms of Service
        | ("Agreement")
    p This Agreement was last modified on January 21, 2014.
    p
      | Please read these Terms of Service ("Agreement", "Terms
      | of Service") carefully before using 
      a(href='http://www.happyscan.me/') http://www.clubbook.com/
      | ("the Site and/or Application") operated by Clubbook ("us",
      | "we", or "our"). This Agreement sets forth the
      | legally binding terms and conditions for your use of the Site and/or
      | Application at 
      a(href='http://www.happyscan.me/') http://www.clubbook.com/
      | .
    p
      | By accessing or using the Site and/or Application in any manner,
      | including, but not limited to, visiting or browsing the Site and/or
      | Application or contributing content or other materials to the Site,
      | you agree to be bound by these Terms of Service. Capitalized terms
      | are defined in this Agreement.
    p
      strong Intellectual Property
      br
      | The Site and/or
      | Application and its original content, features and functionality are
      | owned by Clubbook and are protected by international copyright,
      | trademark, patent, trade secret and other intellectual property or
      | proprietary rights laws.
    p
      strong Termination
      br
      | We may terminate your access to
      | the Site and/or Application, without cause or notice, which may
      | result in the forfeiture and destruction of all information
      | associated with you. All provisions of this Agreement that by their
      | nature should survive termination shall survive termination,
      | including, without limitation, ownership provisions, warranty
      | disclaimers, indemnity, and limitations of liability.
    p
      strong Links To Other Sites
      br
      | Our Site and/or
      | Application may contain links to third-party sites that are not owned
      | or controlled by Clubbook.
    p
      | Clubbook has no control over, and assumes no responsibility for,
      | the content, privacy policies, or practices of any third party sites
      | or services. We strongly advise you to read the terms and conditions
      | and privacy policy of any third-party site that you visit.
    p
      strong Governing Law
      br
      | This Agreement (and any further
      | rules, polices, or guidelines incorporated by reference) shall be
      | governed and construed in accordance with the laws of Amsterdam, The
      | Netherlands, without giving effect to any principles of conflicts of
      | law.
    p
      strong Changes To This Agreement
      br
      | We reserve the
      | right, at our sole discretion, to modify or replace these Terms of
      | Service by posting the updated terms on the Site. Your continued use
      | of the Site after any such changes constitutes your acceptance of the
      | new Terms of Service.
    p
      | Please review this Agreement periodically for changes. If you do
      | not agree to any of this Agreement or any changes to this Agreement,
      | do not use, access or continue to access the Site and/or Application
      | or discontinue any use of the Site and/or Application immediately.
    p(style='margin-bottom: 0in;')
      br
