<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nl.clubbook">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.nl.clubbook.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.nl.clubbook.permission.C2D_MESSAGE" />


    <application
        android:name=".ClubbookApplication"
        android:icon="@drawable/icon_play"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!--<activity-->
            <!--android:name=".activity.TestActivity"-->
            <!--android:configChanges="keyboardHidden|orientation"-->
            <!--android:screenOrientation="portrait">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->

        <activity
            android:name=".activity.MainLoginActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.BaseActivity" />

        <activity
            android:name="com.facebook.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ClubInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NoInternetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EditProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NoLocationActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="CLOUDINARY_URL"
            android:value="cloudinary://635173958253643:kc8bGmuk3HgDJCqQxMjuTbgTwJ0@ddsoyfjll" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/fb_app_id" />


        <service android:name="com.parse.PushService" />

        <!--  <receiver android:name="com.parse.ParseBroadcastReceiver">
              <intent-filter>
                  <action android:name="android.intent.action.BOOT_COMPLETED" />
                  <action android:name="android.intent.action.USER_PRESENT" />
              </intent-filter>
          </receiver>-->

        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.nl.clubbook" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.nl.clubbook.helper.MyCustomReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.nl.clubbook.UPDATE_STATUS" />
            </intent-filter>
        </receiver>
    </application>
</manifest> 
