extends ../layout

block content
  //
     BEGIN PAGE HEADER
  h3.page-title
    | Clubs
  .page-bar
    ul.page-breadcrumb
      li
        i.fa.fa-home
        a(href='/venue/clubs') Clubs
  //
     END PAGE HEADER
  //
     BEGIN PAGE CONTENT
  .row
    .col-md-12
      table#clubs.table.table-bordered.table-striped.table-condensed.flip-content
        thead.flip-content
          tr
            th(width='20%')
              | Avatar
            th
              | Title
            th
              | Phone
            th
              | Email
            th
        tbody


      div
        a.btn.btn-primary(href="/venue/club_create") Add Club


  //
     END PAGE CONTENT
//
 END CONTENT

block scripts

  script(src='/assets/global/plugins/jquery.sparkline.min.js', type='text/javascript')
  script(src='/assets/global/plugins/gritter/js/jquery.gritter.js', type='text/javascript')

  script(src="/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js", type="text/javascript")
  script(src="/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js",type="text/javascript")


  script(type="text/javascript")

    $(function () {

      $('#clubs').dataTable({
            "scrollX": false,
            "aoColumns": [
                      null,
                      null,
                      null,
                      null,
                      null
                    ],

            "aLengthMenu": [
                [10, 25, 50, 100],
                [10, 25, 50, 100]
            ],
            "bFilter": false,

            "iDisplayLength": 25,
            "bProcessing": true,
            "bServerSide": true,
            "sAjaxSource": "/_a/club/list"
      });
    });